In [2]:
#importing the pandas and numpy library
import pandas as pd
import numpy as np

In [9]:
#reading in the dataset

data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [27]:
print(data)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [20]:
#Question 2

missing_data = data["Y2014"].isnull().sum()
total = data["Y2014"].size

#Number of missing data in Y2014
print(missing_data)

#Percentage of missing in Y2014
result = (missing_data/total) * 100
print(f"{result:.3f}")

1589
2.607

In [33]:
#Question 3

grouped_data = data[["Y2017","Area"]].groupby("Area").sum()

print(grouped_data.sort_values(by="Y2017", ascending=True))

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
CÃ´te d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23

In [39]:
#Question 4

#subset the data for where element equals processing
grouped_data1 = data[data["Element"] == "Processing"]

#subsetting further and then performing the groupby operation
print(grouped_data1[["Element", "Y2017"]].groupby("Element").sum())

               Y2017
Element
Processing  292836.0

In [103]:
print(data["Element"].unique())

['Total Population - Both sexes' 'Domestic supply quantity'
 'Food supply (kcal/capita/day)' 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Production' 'Import Quantity'
 'Stock Variation' 'Export Quantity' 'Feed' 'Seed' 'Losses' 'Processing'
 'Other uses (non-food)' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Tourist consumption']

In [104]:
#Question 6
#subsetting the data for rows where element is Protein supply quantity (g/capita/day)
grouped_data2 = data[data["Element"] == "Protein supply quantity (g/capita/day)"]

print(grouped_data2[["Area", "Y2015"]].groupby("Area").sum().loc["Madagascar"])

Y2015    173.05
Name: Madagascar, dtype: float64

In [105]:
#Question 7

grouped_data3 = data[["Y2017", "Area"]].groupby("Area").sum()

print(grouped_data3.sort_values(by="Y2017", ascending=False).iloc[0])

Y2017    1483268.23
Name: Nigeria, dtype: float64

In [106]:
#Question 8

print(data.describe().round(2))

       Area Code  Item Code  Element Code      Y2014      Y2015      Y2016  \
count   60943.00   60943.00      60943.00   59354.00   59395.00   59408.00
mean      134.27    2687.18       3814.86     134.20     135.24     136.56
std        72.61     146.06       2212.01    1567.66    1603.40    1640.01
min         4.00    2501.00        511.00   -1796.00   -3161.00   -3225.00
25%        74.00    2562.00        684.00       0.00       0.00       0.00
50%       136.00    2630.00       5142.00       0.09       0.08       0.08
75%       195.00    2775.00       5511.00       8.34       8.46       8.43
max       276.00    2961.00       5911.00  176405.00  181137.00  185960.00

           Y2017      Y2018
count   59437.00   59507.00
mean      140.92     143.76
std      1671.86    1710.78
min     -1582.00   -3396.00
25%         0.00       0.00
50%         0.10       0.07
75%         9.00       9.00
max    190873.00  195875.00

In [107]:
#Question 9
S = [['him', 'sell'], [90, 28, 43]]

print(S[0][1][1])

e

In [108]:
#Question 10

group_data = data[data["Element"]=="Stock Variation"]

print(group_data[["Element", 
           "Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]].groupby("Element").sum().max())

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
dtype: float64

In [109]:
#Question 11
y = [(2, 4), (7, 8), (1, 5, 9)]

print(y[1][1])

8

In [110]:
#Question 12

print(data.shape)

#df.shape

(60943, 12)

In [111]:
#Question 13

print(len(data["Area"].unique()))

49

In [112]:
#Question 14
array  = [[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]]

array[:2]

#correct answer should be array[:2, 1:]

[[94, 89, 63], [93, 92, 48]]

In [113]:
#Question 17
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ["Age","Nationality","Overall"]

print(pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)]))

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [114]:
#Question 18
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

#we get a TypeError which is the answer

TypeError: 'tuple' object does not support item assignment

In [115]:
#Question 20

grouped = data[data["Item"] == "Wine"]

In [102]:
print(grouped[["Item", "Y2015", "Y2018"]].groupby("Item").sum())

        Y2015    Y2018
Item
Wine  4251.81  4039.32